<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="http://127.0.0.1:9099/login" method="post">
    用户名:<input type="text" name="username">
    密码:<input type="password" name="password">
    年龄:<input type="text" name="age">



    <p>
        <input type="checkbox" name="interest" value="football">足球
        <input type="checkbox" name="interest" value="basketball">篮球
        <input type="checkbox" name="interest" value="tennis">网球
        <input type="checkbox" name="interest" value="pingPongBall">乒乓球
    </p>
    <p>
        <input type="hidden" name="token" value="{{.}}">
        <input type="submit" value="登陆">
    </p>
</form>
</body>
</html>